
<link rel="stylesheet" href="/css/SingleLineDiagram/SLD_Index.css">
<div class="indexbox">
    <p class="index">Inverter:<span class="active">Inverter</span>發電中&nbsp;&nbsp;<span class="onhold">Inverter</span>待機&nbsp;&nbsp;<span class="malfunction">Inverter</span>檢修故障</p>
    <p class="index">CB:&nbsp;<img class="btnimg" src="~/images/Button_G.svg"></>&nbsp;啟斷&nbsp;&nbsp;&nbsp;<img class="btnimg" src="~/images/Button_R.svg"></>&nbsp;投入</p>
</div>