
<link rel="stylesheet" href="/css/ConverterOverview/Signal_Index.css">
<div class="indexbox">
    
    <p class="index">燈號:&nbsp;<img class="btnimg" src="~/images/Button_G.svg"></>&nbsp;運轉中&nbsp;&nbsp;&nbsp;<img class="btnimg" src="~/images/Button_Y.svg"></>&nbsp;待機&nbsp;&nbsp;&nbsp;<img class="btnimg" src="~/images/Button_R.svg"></>&nbsp;故障</p>
</div>