@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="/css/SectorLayout.css">
<div class="contentdetailbox" id="app">

    <div class="submenulist">
        <div class="sectorlayout">
            <span id="">案場配置</span>

        </div>

    </div>
    <div class="submenudetailWhite">
        <div class="SLsubmenudetail">
            <div class="SLbackgroundbox">
                <img src="../images/PNG_Files/29_Field.png" alt="Background Image" class="background-image">
                <img src="" alt="" class="background-image">
                <img src="" alt="" class="background-image">
                <img src="" alt="" class="background-image">
                <img src="" alt="" class="background-image">
                <img src="" alt="" class="background-image">
            </div>

        </div>







    </div>
    
</div>
@section Scripts{

}